<a href="https://colab.research.google.com/github/norahyk/pythonsnippet/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import random

# 連続数のカウント

In [ ]:
df = pd.DataFrame(list('AAAABBBCDDAABCCD'),columns=['cat'])
df['No.chunk'] = (df['cat'] != df['cat'].shift()).cumsum()
df['No.inTheChunk'] = df.groupby(df['No.chunk'])['cat'].cumcount()
df.head()

  cat  No.chunk  No.inTheChunk
0   A         1              0
1   A         1              1
2   A         1              2
3   A         1              3
4   B         2              0

# グループ内ランキングの計算

In [ ]:
df = pd.DataFrame({
    'cat_large': list('AAABBBCCCDDD'),
    'cat_small': list('aabcdefffghi'),
    'val': np.random.randint(0, 10, 12)
    })
agg_df = df.groupby('cat_small').agg({'cat_large': 'first', 'val': 'mean'}).reset_index()
agg_df['rank'] = agg_df.groupby('cat_large').rank(method='first', ascending=False)
agg_df

  cat_small cat_large       val  rank
0         a         A  2.000000   2.0
1         b         A  8.000000   1.0
2         c         B  2.000000   3.0
3         d         B  4.000000   2.0
4         e         B  5.000000   1.0
5         f         C  7.333333   1.0
6         g         D  7.000000   2.0
7         h         D  8.000000   1.0
8         i         D  5.000000   3.0